* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dot {
    position: absolute;
    background-color: red;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

#background {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
}

body {
    overflow: hidden;
}